<div class="rooms">
	<div class="list-group">
		<% if all_nil?(@vacancy) %>
			<h2>All rooms occupied in <%= @inp %>. Try another building.</h2>
		<% else %>
			<% @vacant_rooms.each do |room| %>
				<% if room.nil? %>
					<% next %>
				<% end %>
				
				<a data-toggle="collapse" data-target=
				<%= str=(room[:room_name].split(" ")[0] + room[:room_name].split(" ")[1]);"#" + "#{str}" %> class="list-group-item">

					<span class="list-group-item-heading" style="float:left;font-size:30px;"><%= room[:room_name] %>
					</span>
					<% if room[:hours] == -1 %>
						<span style="float:right;font-size:30px;"><%= "Open for rest of day" %></span>
					<% else %>
						<span style="float:right;font-size:30px;">Open for <%= "#{room[:hours]} Hr, #{room[:mins]} mins" %>
						</span>
					<% end %>
					<div style="clear:both;"></div>
				</a>

				<div id=<%=str%> class="collapse">
					<table class="table table-responsive">
						<thead>
							<tr> 
								<th>Course</th>
								<th>Class number</th>
								<th>Section</th>
								<th>Start time</th>
								<th>End time</th>
							</tr>
						</thead>
						<tbody>
							<% room[:classes].each do |cl| %>
								<% if Room.is_today?(cl, @curr_time)%>
									<tr class="table-entry-item">
										<td><%= "#{cl['subject']} #{cl['catalog_number']}" %></td>
										<td><%= cl['class_number'] %></td>
										<td><%= cl['section'] %></td>
										<td><%= cl['start_time'] %></td>
										<td><%= cl['end_time'] %></td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
</div>