<div class="rooms">
	
	<div class="list-group">
		<% if @home %>
		<% elsif @all_rooms.empty? %>
			<h2>Sorry, all rooms are occupied at the moment.</h2>
		<% else %>
			<h1>Currently vacant rooms in <%= @building %> (<%= @all_rooms.length %>):</h1>
			<% @all_rooms.each do |room| %>
				<a style="text-align:left;" data-toggle="collapse" data-target=
				<%= str=(room.room_name.split(" ")[0] + room.room_name.split(" ")[1]);"#" + "#{str}" %> class="list-group-item list-item">
					<h2 class="list-group-item-heading"><%= room.room_name %>
					</h2>
					<p class="list-group-item-text"></p>
				</a>
				<div id=<%=str%> class="collapse">
					<table class="table table-responsive">
						<thead>
							<tr> 
								<th>Course</th>
								<th>Class number</th>
								<th>Section</th>
								<th>Start time</th>
								<th>End time</th>
							</tr>
						</thead>
						<tbody> <!--Schedule of the room for today-->
							<% room.classes.each do |cl| %>
								<% if Room.is_today?(cl,@curr_time) && !Room.is_ended?(cl, @curr_time) %>
									<tr>
										<td><%= "#{cl['subject']} #{cl['catalog_number']}" %></td>
										<td><%= cl['class_number'] %></td>
										<td><%= cl['section'] %></td>
										<td><%= cl['start_time'] %></td>
										<td><%= cl['end_time'] %></td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
